<main>
  <form [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPassword()">
    <section style="display: flex; flex-direction: column; gap: 10px; max-width: 500px; margin: 0 auto;">
      <span>Email</span>
      <input type="email" name="email" placeholder="Email" formControlName="email" />
      <button type="submit" [disabled]="forgotPasswordForm.invalid">Forgot Password</button>
      @if(errMessage) {
        <span style="color: red;">{{errMessage}}</span>
      }
    </section>
  </form>
</main>
